.tools {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.toolsDiv {
    display: flex;
    padding-top: 25px;
    width: 18.45%;
    margin: 10px;
    height: 225px;
    background-color: #213345;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    margin-top: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.toolsDiv:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toolsDiv img {
    width: 100px;
    height: 100px;
    object-fit:scale-down;
}

.toolsDiv p {
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-top: 25px;
    font-family: 'Futura Book', sans-serif;
}


@media only screen and (max-width: 1399px) {
    .toolsDiv {
        width: 18.2%;
        margin: 10px;
        height: 225px;
    }
}

@media only screen and (max-width: 1199px) {
    .toolsDiv img {
        height: 80px;
        width: 80px;
    
    }

    .toolsDiv {
        width: 17.8%;
        margin: 10px;
        height: 175px;
    }
}

@media only screen and (max-width: 991px) {
    .toolsDiv img {
        height: 60px;
        width: 60px;
    
    }

    .toolsDiv {
        width: 22.1%;
        margin: 10px;
        height: 175px;
    }
}

@media only screen and (max-width: 767px) {
    .toolsDiv img {
        height: 55px;
        width: 55px;
    
    }

    .toolsDiv {
        width: 29.3%;
        margin: 10px;
        height: 160px;
    }
}


@media only screen and (max-width: 600px) {
    .toolsDiv img {
        height: 50px;
        width: 50px;
    }

    .toolsDiv {
        width: 32.2%;
        margin: 2px;
        height: 125px;
        text-align: center;
    }

    .toolsDiv p {
        font-size: 12px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .toolsDiv img {
        height: 40px;
        width: 40px;
    }

    .toolsDiv {
        width: 48.4%;
        margin: 2px;
        height: 125px;
        text-align: center;
    }
}