.aboutme-div {
    background-color: #16212b;
    min-height: 100vh;
   
}

.aboutme {
   
    color: white;
 
    font-family: 'Futura', sans-serif;
    display: flex;
    flex-direction: column;
 
    width: 100%;
    height: 100%;
    justify-content: space-between;
   
  
}
.firstp {
    width:fit-content;
    display: inline-block;
}
.aboutme-header {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 45px;
   
}

.aboutme-description {

    font-size: 19px;
    line-height: 40px;
    margin-top: 25px;
    width: 55%;
  
}


.about-flex-container {
    display: flex;
}

.user_image {
    width: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.user_image img {
    width: 280px;
    border-bottom: 60px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-top: 15px solid white;
    transform: rotate(10deg);
}

.rainbow-about  {
    display: inline-block;
    
    color: orange;
    flex-wrap: wrap;
    margin-left: 7px;
    margin-right: 7px;
    width:fit-content;
    background-color: black;

}

.rainbow_text_animated-about {
    
    background: linear-gradient(to right, orange, #0099ff , orange, #0099ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.thirdp {
    display: inline-block;
    width: fit-content;
}

.secondpdiv {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) { 



    .about-flex-container {
        flex-direction: column-reverse;
    }

    .aboutme-description {
        width: 100%;
        padding-bottom: 100px;
    }

    .user_image {
        width: 100%;
        margin-top: 30px;
        justify-content: flex-start;

    }

    .user_image img {
        width: 250px;
        transform: none;
        border-bottom: 15px solid white;
    }

    
}